@charset "utf-8";

body {
    width: 100%;
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Tenor Sans', sans-serif;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto; 
    padding: 0 30px;
} 

.container-1 {
    max-width: 1000px;
    margin: 0 auto; 
    padding: 0 30px;
}

/* -----------------------------------
header-btn
-------------------------------------- */
.btn {
    display: flex;
    justify-content: end;
}

.header-btn1 {
    font: inherit; 
    display: inline-block;
    position: relative;
    width: 38.4px; 
    height: 24px;
    font-size: 11px; 
    line-height: 1;
    letter-spacing: 0.05em;
    color: black;
    text-align: center;
    /* margin: 0 14px;  */
    transition: all 0.3s; 
    background: #E8E6E6;
    border: 0;
} 

.header-btn2 {
    font: inherit;
    display: inline-block;
    position: relative;
    width: 38.4px; 
    height: 24px;
    font-size: 11px; 
    line-height: 1;
    letter-spacing: 0.05em;
    color: black;
    text-align: center;
     /* margin: 0 14px;  */
    transition: all 0.3s; 
    background-color: white;
    border: 0;
}  



/* -----------------------------------
header
-------------------------------------- */
.site-title {
  display: none;
}
#navi {
  display: none;
}
/* .btn-new {
  display: none;
} */

.heading {
    /* margin: 0 28px; */
    display: flex;
    align-items: flex-end; 
    justify-content: space-between;
    width: 100%; 
    height: auto;
}

.heading-img {
    z-index: 10;
    width: 300px;
    height: 60px;
    margin-right: 10px;
}

.gnav-list {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center; 
    column-gap: 50px;
    padding: 0 0 5px 0;
    transition: all 0.3s;
}

.gnav-item {
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase; 
}

.gnav-link {
    color: #898989;
}

.gnav-link:hover {
    color: #333;
}

/* ---------------------------------
mv
------------------------------------ */
.mv {
    /* width: 1392px;
    height: 492px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://static.wixstatic.com/media/8902af_dcc49137de3c42be91c8857adf5fd56c~mv2.jpg/v1/fill/w_2698,h_984,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/8902af_dcc49137de3c42be91c8857adf5fd56c~mv2.jpg); 
    /* background-image: url(file:///Users/koro/Pictures/%E5%86%99%E7%9C%9F%E3%83%A9%E3%82%A4%E3%83%95%E3%82%99%E3%83%A9%E3%83%AA.photoslibrary/resources/derivatives/2/23C6BF04-7EF8-4955-8831-41DEFD79488C_1_105_c.jpeg); */
    background-repeat: no-repeat;
    background-position: center;
    height: 432px;
    background-size: cover;
    margin-top: 16px;
}

/* ---------------------------------
About
------------------------------------ */
.Areatitle {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 00.05em;
    color: #000;
    text-transform: uppercase;
    padding: 75px 0 50px 0;
    margin: 0;
}

p {
  text-align: center;
}

.about-text {
  margin-bottom: 50px;
}


/* ---------------------------------
Contact
------------------------------------ */
#contact {
    background-color: #EFEFEF;
}

#contact dl {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
  }
  #contact dt {
    margin: 5px 0 0 0;
    width: 15%;
  }
  #contact dd {
    margin: 5px 0 0 0;
    width: 85%;
    margin-bottom: 10px;
  }
  #contact dd input,
  #contact dd textarea {
    width: 100%;
    border: solid 1px #c8c8c8;
    padding: 10px;
  }
  #contact dd textarea {
    height: 10rem;
  }

  #contact .button {
    text-align: center;
    padding: 20px 0 50px 0;
  }
  #contact .button input {
    width: 200px;
    background-color: #24292e;
    color: #fff;
    padding: 15px 0;
    border: solid 1px #24292e;
  }
  #contact .button input:hover {
    background: #fff;
    color: #24292e;
  }

  /*--------------------------------
フッター
---------------------------------*/
.footer {
    padding: 30px 0 30px;
}
  
.footer-text {
    color: #333;
    text-align: center;
    /* width: 180px; */
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 12px;
}
  
.footer .copyright {
    font-size: 12px;
    letter-spacing: 0.05em;
    color: #333;
    text-align: center;
}



/* ------------------------------
Media
--------------------------------- */
@media screen and (max-width: 600px) {
  .sec-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  /*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
  .header-btn1 {
    display: none;
  }
  .header-btn2 {
    display: none;
  }
  .header {
    display: none;
  }
  .open .header-btn-new1 {
    width: 38.25px;
    height: 25px;
    border-radius: 0%;
    border: 0;
    background-color: #e8e6e6;
  }
  .open .header-btn-new2 {
    width: 38.25px;
    height: 25px;
    border-radius: 0%;
    border: 0;
  }
  
  .open .header-btn-new1:hover {
    opacity: 0.7;
  }
  .open .header-btn-new2:hover {
    opacity: 0.7;
  }
  
  .gnav {
      display: none;
  }
  
  #navi {
      display: block;
      position: fixed; 
      top: 0;
      left: -300px;
      bottom: 0;
      width: 300px;
      color: #333;
      padding: 60px 25px;
      background-color: #EFEFEF;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      transition: all .5s;
      z-index: 20;
      opacity: 0;
    }
    #navi a {
      color: #333;
    }
  
  
    .open #navi {
      left: 0;
      opacity: 1;
    }
    #navi ul {
      margin: 0;
      padding: 0;
    }
    #navi ul.nav-menu {
      margin-bottom: 60px;
      border-top: solid 1px #333;
    }
    #navi ul.nav-menu li {
      position: relative;
      margin: 0;
      padding: 20px 0;
      border-bottom: solid 1px #333;
    }
    #navi ul.nav-sns li {
      padding: 5px 0;
    }
  
    #navi ul.nav-menu li:hover {
      opacity: 0.7;
    }
    .toggle_btn {
      text-align: center;
      display: block;
      position: fixed; 
      top: 25px;
      right: 45px;
      width: 30px;
      height: 30px;
      transition: all .5s;
      cursor: pointer;
      z-index: 20; 
    }
    .toggle_btn span {
      display: block;
      position: absolute;
      left: 0;
      width: 30px;
      height: 2px;
      background-color: #333;
      border-radius: 4px;
      transition: all .5s;
    }
    .toggle_btn span:nth-child(1) {
      top: 4px;
    }
    .toggle_btn span:nth-child(2) {
      top: 14px;
    }
    .toggle_btn span:nth-child(3) {
      bottom: 4px;
    }
    .open .toggle_btn span {
      background-color: #fff;
    }
    .open .toggle_btn span:nth-child(1) {
      -webkit-transform: translateY(10px) rotate(-315deg);
      transform: translateY(10px) rotate(-315deg);
    }
    .open .toggle_btn span:nth-child(2) {
      opacity: 0;
    }
    .open .toggle_btn span:nth-child(3) {
      -webkit-transform: translateY(-10px) rotate(315deg);
      transform: translateY(-10px) rotate(315deg);
    }
    #mask {
      display: none; 
      transition: all .5s;
    }
    .open #mask {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: .8;
      z-index: 10;
      cursor: pointer;
    } 
  
    .site-title {
      margin: 0;
    }
  
  

  /*-------------------------------------------
  Contact
  -------------------------------------------*/
   #contact {
    padding: 80px 0;
  }
  #contact .content {
    flex-direction: column;
  }
  #contact .contact-info,
  #contact .contact-form {
    width: 100%;
  }
  #contact .contact-form .button input {
    width: 100%;
  }
} 




